<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <center>
            <p:outputLabel value="Sistema de Pago y Facturación" style='font-size: 500%;'/>
        </center>
        <br />
        <p:menubar>
                <p:menuitem value="Categoria" outcome="categoria.xhtml" />
                <p:menuitem value="Cliente" outcome="cliente.xhtml" />
                <p:menuitem value="Detalle" outcome="detalle.xhtml" />
                <p:menuitem value="Factura" outcome="factura.xhtml" />
                <p:menuitem value="Pago" outcome="modopago.xhtml" />
                <p:menuitem value="Producto" outcome="producto.xhtml" />
        </p:menubar>
    </h:body>
</html>

